extends ../layouts/default

block intro
	.container
		h1 About Us
		
block content
	.container
		p(style='white-space:pre;')
			| Q: Wat is PixelPub?
			| A: An awesome gaming community!
			|
			| Q: Wat sort of "gaming" does your community take part in?
			| A: All sorts of games! Videogames, card games, board games, mobile games!
			|
			| Q: How do you spell what?
			| A: Wat?
			|
			| Q: Ok Ok, I get it, PixelPub is a gaming community, but what games do you currently play?
			| A: That is a great question! Here is a general list of games our community participates in.
			|
			| Current Games (as of June 2017):
			|
			| - Heroes of the Storm
			| - The Elder Scrolls Online
			| - Battlefield 1
			| - Overwatch
			| - Diablo 3 - Necromancer Hype
			|
			| Partnered Game Communities:
			|
			| - PlayerUnknown's Battlegounds & Guild Wars 2 - In partnership with JHomiefunk
			| - World of Warcraft - In partnership with "The Bad Mama Jamas"
			|
			| Games incoming to PixelPub:
			|
			| - Destiny 2
			| - Anthem
			|
			| Other Games:
			|
			| - D&D
			| - Magic The Gathering
			|
			| If your game is not mentioned, start the fire in our community for your game and it may show up on the list!
			|
			| Q: This all sounds awesome! How do I become part of this community?
			| A: Join our Discord and game with us! Visit our social media sites (twitter, facebook, instagram), we would love to hear from you!
			|
			| Q: Is it "PixelPub" or "Pixel Pub"?
			| A: Yes
