extends ../layouts/default

block content

	.header-video
		img.header-video__media(src='/images/ppb-1.jpg', data-video-url='https://www.youtube.com/embed/agVojhSdFyA', yt-video-id='0rtV7lvhbUs' data-teaser='video/teaser-video', data-video-width='560', data-video-height='315')
	div#textIframeD2
		h1#1inOut.russoOneh1W.hidden Destiny 2
		h1#2inOut.russoOneh1W.hidden Wrath Incarnate
		h1#3inOut.russoOneh1W.hidden Scroll for more
		
	.container
		.arrow.bounce
			iWhite.fa.fa-angle-down.fa-5x(aria-hidden='true')
			
	.below
		h1.fadeIn.russoOneh1B #[a(href="https://www.pixelpubgaming.com/blog/post/destiny-2-clan-wrath-incarnate") WRATH INCARNATE]
		p.fadeIn.russoOneh1B.fontSizeSmall.textCenter
			| "We took back our light, now we want everything else.."
		p.fadeIn.russoOneh1B.fontSizeSmall
			| We are #[a(href="https://www.pixelpubgaming.com/blog/post/destiny-2-clan-wrath-incarnate") Wrath Incarnate], a clan that strives to provide a rewarding and fun experience on Destiny 2. Destiny is best played with gamers that respect and help one another, this is the cornerstone of our clan. When players are respectful, helpful and have a common goal, great things can be achieved. Whether that goal is to complete the latest raid, or dominate in the Crucible, we got it.
		p.fadeIn.russoOneh1B.fontSizeSmall
			| We are recruiting all guardians! There are no age or skill restrictions, we welcome all guardians. We have Destiny veterans that have completed all the current content and ready to lead new players in raids, trials or nightfall events! We also have a great team of moderators and event leaders to make your experience in Destiny better.
		p.fadeIn.russoOneh1B.fontSizeSmall
			| #[a(href="https://www.pixelpubgaming.com/blog/post/destiny-2-clan-wrath-incarnate") Wrath Incarnate] is not only a Destiny clan, but a gaming community. We love Destiny but we also enjoy other games and game types. We encourage our clan members not only to play Destiny together, but play the games you love, meet new people and be a part of a great community of gamers. Please visit our clan pages and request to join today!
		p.fadeIn.russoOneh1B.fontSizeSmall
			| This is a gaming community built around you, the player. We built our #[a(href="https://www.pixelpubgaming.com") website] to grow our community. We built our Discord server based upon user feedback and suggestions. We listen, make changes and help our members so they can enjoy social gaming at its best.
		h1.fadeIn.russoOneh1B How to Join:
		p.fadeIn.russoOneh1B.fontSizeSmall.textCenter
			| 1) Join our #[a(href="https://discord.gg/uw3PMqV") Discord] <br> 
			| 2) Join one of our clans! See below for clan status and availability. <br> 
			| If you have any questions regarding membership, feel free to reach out to our moderators on Discord.
			
	div#wrathIncarnateClanStatus.embed-responsive.embed-responsive-16by9
		iframe.embed-responsive-item(src='http://pxp-win-clanlist.s3-website.us-east-2.amazonaws.com/', scrolling='no', allowfullscreen='')

	div#picDiscord.discord.parallax.long
	a(href="https://discord.gg/uw3PMqV")
		h1 DISCORD SERVER
	p#descDiscord.between-text-block
		| Join our #[a(href="https://discord.gg/uw3PMqV") Discord Server]! <br> 
		| We have voice chat channels, text chat channels and promote a friendly gaming community. <br>
		| Discord has great iOS & Android applications to keep in touch wherever you go!
		
	script(src='/js/jquery/jquery-3.2.1.min.js')
	script(src='/js/jquery-ui/jquery-ui.min.js')
	script(src='/js/browserify/dist/destiny.js')