extends ../layouts/default

block content

	.divTable
		.divTableRow
			.divTableCell.zoom
				a(href='/destiny')
					img(src='/images/d2-games-logo-banner.jpg')
			.divTableCell.zoom
				a(href='/world-of-warcraft')
					img(src='/images/WoW_BfA_Games_Logo.jpg')
			.divTableCell.zoom
				a(href='https://pixelpubgaming.com/blog/post/join-the-party-bus-fortnite-battle-royale')
					img(src='/images/fortnite-br-games-logo.jpg')
		.divTableRow
			.divTableCell.zoom
				a(href='https://pixelpubgaming.com/blog/post/pixelpub-ark-survival-evolved-pc-pve-server')
					img(src='/images/ark-games-logo.jpg')
			.divTableCell.zoom
				a(href='https://www.pixelpubgaming.com/blog/post/rocket-league')
					img(src='/images/rocket-league-banner.jpg')
			.divTableCell.zoom
				a(href='https://www.pixelpubgaming.com/blog/post/heroes-needed-overwatch')
					img(src='/images/overwatch-banner.jpg')
		.divTableRow
			.divTableCell.zoom
				a(href='https://www.pixelpubgaming.com/blog/post/pixelpub-warframe-clan')
					img(src='/images/warframe-prime2.jpg')
			.divTableCell.zoom
				a(href='https://pixelpubgaming.com/blog/post/monster-hunter-world')
					img(src='/images/mhw-games-logo.jpg')
	
	.container
		.arrow.bounce
			iBlack.fa.fa-angle-down.fa-5x(aria-hidden='true')
	
	div#picDiscord.discord.parallax.long
	a(href="https://discord.gg/PixelPub")
		h1 DISCORD SERVER
	p#descDiscord.between-text-block
		| Join our #[a(href="https://discord.gg/PixelPub") Discord Server]! <br> 
		| We have voice chat channels, text chat channels and promote a friendly gaming community. <br>
		| Discord has great iOS & Android applications to keep in touch wherever you go!
			
	script(src='/js/jquery/jquery-3.2.1.min.js')
	script(src='/js/jquery-ui/jquery-ui.min.js')
	script(src='/js/browserify/dist/games.js')