extends ../layouts/default

block content
	div.ppb-1.parallax.short
	table#gameIconsTbl.game-icons
		tr
			td
				img(src='/images/d2-logo-press-1.png')#game1Icon
			td
				img(src='/images/wow-legion-logo-press-1.png')#game2Icon
			td
				img(src='/images/mtg-logo-press-1.png')#game3Icon
			td
				img(src='/images/twitch-logo-1.png')#twitchIcon
			td
				img(src='/images/discord-logo-press-1.png')#discordIcon
	
	div#picGame1.game-img1.parallax.long
	h1 Destiny Community
	p#descGame1.between-text-block Join our Destiny community as we take on the darkness, save the galaxy and get some awesome loot!
	div#picGame2.game-img2.parallax.long
	h1 World of Warcraft Community
	p#descGame2.between-text-block Join our WoW partner community "The Bad Mama Jamas" to defeat the legion and take back Azeroth!
	div#picGame3.game-img3.parallax.long
	h1 Magic the Gathering Community
	p#descGame3.between-text-block Join our Magic the Gathering Community! We have avid MtG players in all different categories: Pauper, cube, modern, standard, commander!
	div#picTwitch.twitch.parallax.long
	a(href="https://www.twitch.tv/pixelpub")
		h1 PixelPub on Twitch
	p#descTwitch.between-text-block Watch us live on #[a(href="https://www.twitch.tv/pixelpub") Twitch]! <br /> Make sure to say "Hi!" in chat, we love to talk to our twitch chat!
	div#picDiscord.discord.parallax.long
	a(href="https://discord.gg/uw3PMqV")
		h1 Discord Chat!
	p#descDiscord.between-text-block
		| Join our #[a(href="https://discord.gg/uw3PMqV") Discord]! We have voice chat channels, text chat channels and promote a friendly gaming community. <br />
		| Discord has great iOS & Android applications to keep in touch wherever you go!
		
	script(src='/js/jquery/jquery-1.11.3.min.js')
	script(src='/js/jquery-ui/jquery-ui.min.js')
	script(src='/js/browserify/dist/bundle.js')
	script(src='/js/custom-js/homepage.js')