extends ../layouts/default

block content

	div#ppb.ppb-1.parallax.short
	
	div#ppIntroTbl.divTable
		div#ppIntroTblRow1.divTableRow
			div#ppIntroTblRow1CellLeft.divTableCell
				img(src='/images/ppl-1.png')#ppIntroImg
			div#ppIntroTblRow1CellRight.divTableCell
				p#ppIntroDesc.profile-text-block.left 
					| Welcome to PixelPub! <br>
					| We are a gaming community, one that strives to be fun, <br>
					| rewarding, and brings gamers together to do what they love most, gaming. <br>
					| Be a part of our community by joining our #[a(href="https://discord.gg/uw3PMqV") Discord Server]. <br> <br>
					| The following are some PixelPub community highlights!
					
	.container
		.arrow.bounce
			iBlack.fa.fa-angle-down.fa-5x(aria-hidden='true')
					
	table#gameIconsTbl.game-icons.display-none
		tr
			td
				img(src='/images/d2-logo-press-1.png')#game1Icon
			td
				img(src='/images/wow-battle-for-azeroth-logo-press-1-small.png')#game2Icon
			td
				img(src='/images/sotlogo.png')#game3Icon
			td
				img(src='/images/rocket-league-logo.png')#game4Icon
			td
				img(src='/images/arklogo.png')#game5Icon
			td
				img(src='/images/wtnlogo-small.png')#wtnIcon
			td
				img(src='/images/twitch-logo-1.png')#twitchIcon
			td
				img(src='/images/discord-logo-press-1.png')#discordIcon
			
	div#picGame1.game-img1.parallax.long
	a(href="https://www.pixelpubgaming.com/blog/post/destiny-2-clan-wrath-incarnate")
		h1 RECRUITING GUARDIANS
	p#descGame1.between-text-block 
		| Looking for a friendly, active and rewarding Destiny 2 community? Join #[a(href="https://www.pixelpubgaming.com/blog/post/destiny-2-clan-wrath-incarnate/") Wrath Incarnate]! <br>
		| We take part in all aspects of the game: PvE, PvP, from prestige raids to Trials of the Nine! <br>
		| Click the link #[a(href="https://www.pixelpubgaming.com/blog/post/destiny-2-clan-wrath-incarnate/") here] for our clan list and join today!
	div#picGame2.game-img2.parallax.long
	a(href="https://www.pixelpubgaming.com/blog/post/world-of-warcraft-guild-the-bad-mama-jamas")
		h1 BATTLE FOR AZEROTH
	p#descGame2.between-text-block 
		| PixelPub is proud to represent #[a(href="https://www.pixelpubgaming.com/blog/post/world-of-warcraft-guild-the-bad-mama-jamas") The Bad Mama Jamas] as our World of Warcraft guild! <br>
		| To prepare for the new expansion "Battle for Azeroth", we are recruiting players to our guilds on #[a(href="https://guildsofwow.com/the-bad-mama-jamas") Sargeras - Alliance] & #[a(href="https://guildsofwow.com/the-bad-mama-jamas-h") Bleeding Hollow - Horde]! <br>
		| You can expect good fun, great experiences and content progression! Join the #[a(href="https://discord.gg/uw3PMqV") Discord] and talk to a recruiter today!
	div#picGame3.game-img3.parallax.long
	a(href="https://www.pixelpubgaming.com/blog/post/sea-of-thieves")
		h1 Treasure & Adventure Awaits!
	p#descGame3.between-text-block 
		| Ready to set sails on the open sea? Need a hearty crew? Look no further! <br>
		| We have a community of pirates ready to brave the open seas, unlock treasure and fight with you! <br>
		| For more info on how to join visit our #[a(href="https://www.pixelpubgaming.com/blog/post/sea-of-thieves") blog] and don’t forget to join our #[a(href="https://discord.gg/uw3PMqV") Discord Server]!
	div#picGame4.game-img4.parallax.long
	a(href="https://www.pixelpubgaming.com/blog/post/rocket-league")
		h1 The Best Rocket League!
	p#descGame4.between-text-block 
		| PixelPub offers a fun, active and helpful Rocket League community. <br>
		| Whether you are a seasoned veteran or new player, come join our #[a(href="https://discord.gg/uw3PMqV") Discord Server] and visit our #[a(href="https://www.pixelpubgaming.com/blog/post/rocket-league") blog] to learn more!
	div#picGame5.game-img5.parallax.long
	a(href="https://www.pixelpubgaming.com/blog/post/pixelpub-ark-survival-evolved-pc-pve-server")
		h1 Build, Tame, Survive
	p#descGame5.between-text-block 
		| The #[a(href="https://www.pixelpubgaming.com/blog/post/pixelpub-ark-survival-evolved-pc-pve-server") PixelPub ARK servers] are committed to having a great experience, as a community. <br>
		| Since the server is PvE, the gameplay focuses on community building, exploring dungeons, and killing the bosses! <br>
		| Enjoy the scenery, tame dinos and build with your tribe, or go it solo and see if you can survive the harsh landscapes on your own!
	div#wtn.wtn.parallax.long
	div.divTable
		div.divTableRow
			div.divTableCell
				a(href="http://pca.st/Udap")
					h1 We Talk Nerd Podcast
		div.divTableRow
			div.divTableCell
				p#descGame3.between-text-block
					| Tune in as Brandon, Jared and Andrew talk about current nerd culture. <br>
					| Every week we dive into subjects like games, movies, tv and more! <br>
					| You can find us on #[a(href="http://pca.st/Udap") Pocket Casts], #[a(href="https://itunes.apple.com/us/podcast/we-talk-nerd/id1271123859?mt=2") iTunes], #[a(href="https://soundcloud.com/wtnpodcast") SoundCloud] and #[a(href="https://www.youtube.com/playlist?list=PLJr6VM66XZJ6W8LqWQIdrhlVNaEl4wHVL") YouTube]!
		div.divTableRow
			div#mediaCell.divTableCell
				label(id='switchLbl' title='Loading Latest Episode...').switch
					input(id='playSlider' type='checkbox' disabled)
					span(id='classSlider').slider.round
				div(id='player')
					img(id='play' src='/images/play.png' width='100' height='100' style='display:none;')
					img(id='pause' src='/images/pause.png' width='100' height='100' style='display:none;')
					
	div#picTwitch.twitch.parallax.long
	a(href="https://www.twitch.tv/pixelpub")
		h1 PIXELPUB ON TWITCH
	p#descTwitch.between-text-block 
		| Watch us live on #[a(href="https://www.twitch.tv/pixelpub") Twitch]! <br> 
		| Make sure to say "Hi!" in chat, we love to talk to our twitch chat!
	div#picDiscord.discord.parallax.long
	a(href="https://discord.gg/uw3PMqV")
		h1 DISCORD SERVER
	p#descDiscord.between-text-block
		| Join our #[a(href="https://discord.gg/uw3PMqV") Discord Server]! <br> 
		| We have voice chat channels, text chat channels and promote a friendly gaming community. <br>
		| Discord has great iOS & Android applications to keep in touch wherever you go!
	
	script(src='/js/jquery/jquery-3.2.1.min.js')
	script(src='/js/jquery-ui/jquery-ui.min.js')
	script(src='/js/browserify/dist/main.js')
	script(src='/js/custom-js/homepage.js')