extends ../layouts/default

block content

	div#ppb.ppb-1.parallax.short
			
	div#ppIntroTbl.divTable
		div#ppIntroTblRow1.divTableRow
			div#ppIntroTblRow1CellLeft.divTableCell
				img(src='/images/ppl-1.png')#ppIntroImg
			div#ppIntroTblRow1CellRight.divTableCell
				p#ppIntroDesc.profile-text-block.left 
					| Welcome to PixelPub! <br />
					| We are a gaming community, one that strives to be fun, <br />
					| rewarding, and brings gamers together to do what they love most, gaming. <br />
					| Be a part of our community by joining our #[a(href="https://discord.gg/uw3PMqV") Discord Server]. <br /> <br />
					| The following are some PixelPub community highlights!
	
	table#gameIconsTbl.game-icons.display-none
		tr
			td
				img(src='/images/d2-logo-press-1.png')#game1Icon
			td
				img(src='/images/wow-battle-for-azeroth-logo-press-1-small.png')#game2Icon
			td
				img(src='/images/PocketCasts_Logo.png')#game3Icon
			td
				img(src='/images/twitch-logo-1.png')#twitchIcon
			td
				img(src='/images/discord-logo-press-1.png')#discordIcon
			
	div#picGame1.game-img1.parallax.long
	a(href="http://pixelpubgaming.com/blog/post/destiny-2-clan-wrath-incarnate")
		h1 RECRUITING GUARDIANS
	p#descGame1.between-text-block 
		| Wrath Incarnate is recruiting all guardians! Find your platform below and request to join today! <br />
		| Wrath Incarnate PS4: #[a(href="https://www.bungie.net/en/ClanV2?groupId=2050502") I] / #[a(href="https://www.bungie.net/en/ClanV2?groupId=2698396") IV] / #[a(href="https://www.bungie.net/en/ClanV2?groupid=2910406") X] / #[a(href="https://www.bungie.net/en/ClanV2?groupid=2929325") XII] / #[a(href="https://www.bungie.net/en/ClanV2?groupId=2942063") XIV] / #[a(href="https://www.bungie.net/en/ClanV2?groupId=2947073") XVII] / #[a(href="https://www.bungie.net/en/ClanV2?groupId=2947089") XVIII] <br /> 
		| Wrath Incarnate PC: #[a(href="https://www.bungie.net/en/ClanV2?groupId=2595877") II] / #[a(href="https://www.bungie.net/en/ClanV2?groupId=2595944") III] / #[a(href="https://www.bungie.net/en/ClanV2?groupid=2810613") V] / #[a(href="https://www.bungie.net/en/ClanV2?groupId=2891598") VI] / #[a(href="https://www.bungie.net/en/ClanV2?groupid=2904541") VII] / #[a(href="https://www.bungie.net/en/ClanV2?groupid=2909553") VIII] / #[a(href="https://www.bungie.net/en/ClanV2?groupid=2909749") IX] / #[a(href="https://www.bungie.net/en/ClanV2?groupid=2929300") XI] / #[a(href="https://www.bungie.net/en/ClanV2?groupId=2940346") XIII] / #[a(href="https://www.bungie.net/en/ClanV2?groupId=2942112") XV]  / #[a(href="https://www.bungie.net/en/ClanV2?groupId=2946133") XVI]  / #[a(href="https://www.bungie.net/en/ClanV2?groupId=2947110") XIX]  / #[a(href="https://www.bungie.net/en/ClanV2?groupId=2947456") XX]
	div#picGame2.game-img2.parallax.long
	a(href="https://discord.gg/uw3PMqV")
		h1 FOR THE ALLIANCE
	p#descGame2.between-text-block 
		| PixelPub is proud to represent #[a(href="http://us.battle.net/wow/en/guild/sargeras/The_Bad_Mama_Jamas/") The Bad Mama Jamas] as our World of Warcraft clan! <br />
		| To prepare for the new expansion "Battle for Azeroth", we are recruiting all players to our guild on Sargeras-Alliance! <br />
		| You can expect good fun, great experiences and content progression! Join the #[a(href="https://discord.gg/uw3PMqV") Discord] and talk to a recruiter today!
	div#picGame3.game-img3.parallax.long
	div.divTable
		div.divTableRow
			div.divTableCell
				a(href="http://pca.st/Udap")
					h1 We Talk Nerd Podcast
		div.divTableRow
			div.divTableCell
				p#descGame3.between-text-block
					| Tune in as Brandon, Jared and Andrew talk about current nerd culture. <br />
					| Every week we dive into subjects like games, movies, tv and more! <br />
					| You can find us on #[a(href="http://pca.st/Udap") Pocket Casts], #[a(href="https://itunes.apple.com/us/podcast/we-talk-nerd/id1271123859?mt=2") iTunes], #[a(href="https://soundcloud.com/wtnpodcast") SoundCloud] and #[a(href="https://www.youtube.com/playlist?list=PLJr6VM66XZJ6W8LqWQIdrhlVNaEl4wHVL") YouTube]!
		div.divTableRow
			div#mediaCell.divTableCell
				label(id='switchLbl' title='Loading Latest Episode...').switch
					input(id='playSlider' type='checkbox' disabled)
					span(id='classSlider').slider.round
				div(id='player')
					img(id='play' src='/images/play.png' width='100' height='100' style='display:none;')
					img(id='pause' src='/images/pause.png' width='100' height='100' style='display:none;')
					
	div#picTwitch.twitch.parallax.long
	a(href="https://www.twitch.tv/pixelpub")
		h1 PIXELPUB ON TWITCH
	p#descTwitch.between-text-block 
		| Watch us live on #[a(href="https://www.twitch.tv/pixelpub") Twitch]! <br /> 
		| Make sure to say "Hi!" in chat, we love to talk to our twitch chat!
	div#picDiscord.discord.parallax.long
	a(href="https://discord.gg/uw3PMqV")
		h1 DISCORD SERVER
	p#descDiscord.between-text-block
		| Join our #[a(href="https://discord.gg/uw3PMqV") Discord Server]! <br /> 
		| We have voice chat channels, text chat channels and promote a friendly gaming community. <br />
		| Discord has great iOS & Android applications to keep in touch wherever you go!
	
	script(src='/js/jquery/jquery-3.2.1.min.js')
	script(src='/js/jquery-ui/jquery-ui.min.js')
	script(src='/js/browserify/dist/bundle.js')
	script(src='/js/custom-js/homepage.js')