extends ../layouts/default

block content

	div#ppb.ppb-1.parallax.short
	
	table#ppIntroTbl.game-icons
		tr
			td
				img(src='/images/ppl-1.png')
			td
				p.between-text-block.left Welcome to PixelPub! <br />
					| We are a gaming community, one that strives to be fun, <br />
					| rewarding, and brings gamers together to do what they love most, gaming. <br /> <br />
					| The following are some PixelPub community highlights!
	
	table#gameIconsTbl.game-icons
		tr
			td
				img(src='/images/d2-logo-press-1.png')#game1Icon
			td
				img(src='/images/wow-legion-logo-press-1.png')#game2Icon
			td
				img(src='/images/mtg-logo-press-1.png')#game3Icon
			td
				img(src='/images/twitch-logo-1.png')#twitchIcon
			td
				img(src='/images/discord-logo-press-1.png')#discordIcon
			
	div#picGame1.game-img1.parallax.long
	a(href="https://discord.gg/uw3PMqV")
		h1 RECRUITING GUARDIANS
	p#descGame1.between-text-block PixelPub is excited for Destiny 2! We will be bringing you day one footage of Destiny 2 along with a new clan! <br />
		| Join our #[a(href="https://discord.gg/uw3PMqV") Discord Server] and help us as we take on the darkness, save the galaxy and get some awesome loot!
	div#picGame2.game-img2.parallax.long
	a(href="https://discord.gg/uw3PMqV")
		h1 WORLD OF WARCRAFT
	p#descGame2.between-text-block PixelPub is glad to be partnered with #[a(href="http://us.battle.net/wow/en/guild/bleeding-hollow/The_Bad_Mama_Jamas/") "The Bad Mama Jamas"]. <br/ >
		| TBMJ is a great group of gamers - helpful, fun, and skilled! Interested in joining? Awesome! <br />
		| Join our #[a(href="https://discord.gg/uw3PMqV") Discord Server], post in the World of Warcraft channel and we can take down the legion!
	div#picGame3.game-img3.parallax.long 
	a(href="https://discord.gg/uw3PMqV")
		h1 MAGIC THE GATHERING
	p#descGame3.between-text-block We have avid MtG players in all different categories: Pauper, cube, modern, standard, commander! <br />
		| Join our #[a(href="https://discord.gg/uw3PMqV") Discord Server] and visit the Magic the Gathering channel today!
	div#picTwitch.twitch.parallax.long
	a(href="https://www.twitch.tv/pixelpub")
		h1 PIXELPUB ON TWITCH
	p#descTwitch.between-text-block Watch us live on #[a(href="https://www.twitch.tv/pixelpub") Twitch]! <br /> Make sure to say "Hi!" in chat, we love to talk to our twitch chat!
	div#picDiscord.discord.parallax.long
	a(href="https://discord.gg/uw3PMqV")
		h1 DISCORD SERVER
	p#descDiscord.between-text-block
		| Join our #[a(href="https://discord.gg/uw3PMqV") Discord Server]! We have voice chat channels, text chat channels and promote a friendly gaming community. <br />
		| Discord has great iOS & Android applications to keep in touch wherever you go!
	
	script(src='/js/jquery/jquery-1.11.3.min.js')
	script(src='/js/jquery-ui/jquery-ui.min.js')
	script(src='/js/browserify/dist/bundle.js')
	script(src='/js/custom-js/homepage.js')