extends ../layouts/default

block content

	div#ppb.ppb-1.parallax.short
	
	h1 PIXELPUB STAFF
	
	div#ppProfileTbl.divTable
		div#ppProfileTblRow1.divTableRow
			div#ppProfileTblRow1CellLeft.divTableCell
				img(src='/images/Andrew_Profile.jpg' title='Bloodrave120 & Wife').ppProfileImg
			div#ppProfileTblRow1CellRight.divTableCell
				p.profile-text-block.left Bloodrave120 - Co-Founder of PixelPub / Leader of Wrath Incarnate / WTN Host <br>
					| "Gaming is part of my life and I love sharing my gaming experiences with people. <br> 
					| My favorite game IPs include: WoW, Destiny, Borderlands and Mass Effect. <br>
					| I also enjoy tabletop and card games like D&D and Magic The Gathering. <br> 
					| I hope to see you in-game or on our community #[a(href="https://discord.gg/uw3PMqV") Discord Server]! Happy Gaming!" <br>
					| Twitter: #[a(href="https://twitter.com/Bloodrave120") @Bloodrave120] | PSN/XBOX/Steam: Bloodrave120 | BattleNet: Bloodrave120#1678
		div#ppProfileTblRow2.divTableRow
			div#ppProfileTblRow2CellLeft.divTableCell
				img(src='/images/Chris_Profile.jpg' title='Crispy724 & Son').ppProfileImg
			div#ppProfileTblRow2CellRight.divTableCell
				p.profile-text-block.left Crispy724 - Co-Founder of PixelPub <br>
					| "I'm a programmer by day and a gamer by night. <br> 
					| I love the more punishing indie games, and I also love magic the gathering. <br>
					| Build me a game that incorporates dark souls, magic the gathering, <br> 
					| and rogue legacy and I'd never play anything else." <br>
					| Twitter: #[a(href="https://twitter.com/Crispy724") @Crispy724]
		div#ppProfileTblRow3.divTableRow
			div#ppProfileTblRow3CellLeft.divTableCell
				img(src='/images/Blaze_Profile.png').ppProfileImg
			div#ppProfileTblRow3CellRight.divTableCell
				p.profile-text-block.left Blaze - TBMJ Guild Leader <br> 
					| "I started The Bad Mama Jamas with a bunch of real life friends. <br> 
					| What it has grown into is a form of networking that surpasses any LFG system in any game. <br> 
					| I play various different games because this community has allowed me to find friends no matter where I go!" <br>
					| Twitch: #[a(href="https://www.twitch.tv/tbmj_blaze") tbmj_blaze] | BattleNet: Blaze#14736 | Steam: tbmj_blaze
		div#ppProfileTblRow4.divTableRow
			div#ppProfileTblRow4CellLeft.divTableCell
				img(src='/images/Brandon_Profile.jpg').ppProfileImg
			div#ppProfileTblRow4CellRight.divTableCell
				p.profile-text-block.left Aebop - WTN Host <br> 
					| "I am a Co-Founder of The Bad Mama Jamas gaming community. <br>
					| I’m a variety gamer from screen to table top and movie enthusiast. <br> 
					| I consider myself a historian for gaming lore." <br>
					| Twitch/YouTube/Steam: Aebop | BattleNet: Aebop#1323 | XBL: xELITExGAMERx70 | PSN: xELITExGAMERx65
		div#ppProfileTblRow5.divTableRow
			div#ppProfileTblRow4CellLeft.divTableCell
				img(src='/images/Rob.jpg').ppProfileImg
			div#ppProfileTblRow4CellRight.divTableCell
				p.profile-text-block.left Froham - WTN Host <br> 
					| "I write code for money and spend free time keeping up with as much nerd content as I can. <br>
					| Talk to me about comics, movies, TV shows, role playing games, legacy board games and walking simulators." <br>
					| Xbox: Fro | Battle.net: Froham#1436
	
	div#picDiscord.discord.parallax.long
	a(href="https://discord.gg/uw3PMqV")
		h1 DISCORD SERVER
	p#descDiscord.between-text-block
		| Join our #[a(href="https://discord.gg/uw3PMqV") Discord Server]! <br> 
		| We have voice chat channels, text chat channels and promote a friendly gaming community. <br>
		| Discord has great iOS & Android applications to keep in touch wherever you go!
	
	script(src='/js/jquery/jquery-3.2.1.min.js')
	script(src='/js/jquery-ui/jquery-ui.min.js')