#header {
	margin-top: 30px;
}

img {
    max-width: 100%; 
	display: inline-table;
	height: auto;
}

.divTable {
	display: table;
	width: 100%;
}

.divTableRow {
	display: table-row;
}

.divTableCell {
	display: table-cell;
}

.display-none {
	display: none;
}

#twitchIcon {
	width: 55%;
	margin-left: 22%;
}

.navbar-icon {
	height: 50px;
	margin-right: 15px;
}

.long {
	height: 700px;
}

.short {
	height: 600px;
}

.left {
	text-align: left;
	padding-left: 35px;
}

.center td {
	padding: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.parallax {
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.game-icons {
	height: 350px;
	margin-left: 2%;
}

h1 {
	font-size: 3em;
	font-family: Impact, Charcoal, sans-serif;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 1px rgba(0,0,0,0.8);
	opacity: 0.9;
	text-align: center;
	padding-top: 35px;
    padding-bottom: 20px;
}

div#aboutBlock p {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 150%;
	color: #777;
	background-color: white;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	opacity: 0.7;
}

.between-text-block {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 150%;
	color: #777;
	background-color: white;
	text-align: center;
	height: 110px;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	opacity: 0.7;
}

.profile-text-block {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 150%;
	color: #777;
	background-color: white;
	text-align: center;
	height: 110px;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	opacity: 0.7;
	display: inline-table;
	vertical-align: middle;
}

/***********************************************************************************************/

@media screen and (min-width: 320px) {
	h1 {
		font-size: 190%;
	}
	
    .between-text-block {
		font-size: 100%;
		height: 110px;
		margin-bottom: 35px;
	}
	
	.profile-text-block {
		font-size: 100%;
		height: 180px;
	}
		
	div#aboutBlock p {
		font-size: 100%;
	}
	
	div#ppProfileTbl .divTableCell {
		display: block;
	}
	
	.game-icons {
		height: 100px;
	}
	
	#game3Icon {
		margin-left: 5px;
	}
	
	.short {
		height: 350px;
	}
	
	.long {
		height: 350px;
	}
	
	.left {
		text-align: center;
		padding-left: 0px;
	}
}

@media screen and (min-width: 375px) {
	h1 {
		font-size: 190%;
	}
	
    .between-text-block {
		font-size: 100%;
		height: 90px;
		margin-bottom: 50px;
	}
	
	.profile-text-block {
		font-size: 100%;
		height: 180px;
	}
	
	div#aboutBlock p {
		font-size: 100%;
	}
	
	div#ppProfileTbl .divTableCell {
		display: block;
	}
		
	.game-icons {
		height: 100px;
	}
	
	#game3Icon {
		margin-left: 10px;
	}
	
	.short {
		height: 350px;
	}
	
	.long {
		height: 350px;
	}
	
	.left {
		text-align: center;
		padding-left: 0px;
	}
}

@media screen and (min-width: 425px) {
	h1 {
		font-size: 190%;
	}
	
    .between-text-block {
		font-size: 100%;
		height: 90px;
		margin-bottom: 20px;
	}
	
	.profile-text-block {
		font-size: 100%;
		margin-top: 10px;
	}
	
	#game3Icon {
		margin-left: 10px;
	}
		
	div#aboutBlock p {
		font-size: 90%;
	}
	
	div#ppProfileTbl .divTableCell {
		display: block;
	}

	.game-icons {
		height: 100px;
	}
	
	.short {
		height: 350px;
	}
	
	.long {
		height: 350px;
	}
	
	.left {
		text-align: center;
		padding-left: 0px;
	}
}

@media screen and (min-width: 768px) {
	h1 {
		font-size: 190%;
	}

    .between-text-block {
		font-size: 120%;
	}
	
	.profile-text-block {
		font-size: 120%;
		margin-top: 10px;
	}
	
	div#ppProfileTbl .divTableCell {
		display: table-cell;
	}
	
	div#aboutBlock p {
		font-size: 120%;
	}
	
	img.navbar-icon {
		max-height: 45px;
	}
	
	.game-icons {
		height: 200px;
	}
	
	.short {
		height: 400px;
	}
	
	.long {
		height: 400px;
	}
	
	.left {
		text-align: center;
		padding-left: 0px;
	}
}

@media screen and (min-width: 1024px) {
	h1 {
		font-size: 250%;
	}

    .between-text-block {
		font-size: 120%;
	}
	
	.profile-text-block {
		font-size: 120%;
		margin-top: 10px;
	}
	
	div#aboutBlock p {
		font-size: 120%;
	}
	
	.short {
		height: 400px;
	}
	
	.long {
		height: 400px;
	}
	
	.left {
		text-align: left;
		padding-left: 20px;
	}
}

@media screen and (min-width: 1440px) {
	h1 {
		font-size: 250%;
	}

    .between-text-block {
		font-size: 150%;
	}
	
	.profile-text-block {
		font-size: 150%;
	}
	
	#ppIntroTblRow1CellLeft.divTableCell {
		width: 500px;
	}
	
	#ppIntroImg {
		margin-left: 200px;
	}
	
	#ppIntroDesc {
		margin-left: 100px;
	}
	
	#game3Icon {
		margin-left: 20px;
	}
	
	div#aboutBlock p {
		font-size: 150%;
	}
	
	.short {
		height: 500px;
	}
	
	.long {
		height: 600px;
	}
}

@media screen and (min-width: 1920px) {
	h1 {
		font-size: 300%;
	}

    .between-text-block {
		font-size: 150%;
	}
	
	.profile-text-block {
		font-size: 150%;
	}
	
	#ppIntroTblRow1CellLeft.divTableCell {
		width: 500px;
	}
	
	#ppIntroImg {
		margin-left: 400px;
	}
	
	#ppIntroDesc {
		margin-left: 300px;
	}
	
	#game3Icon {
		margin-left: 35px;
	}
		
	div#aboutBlock p {
		font-size: 150%;
	}
	
	.short {
		height: 700px;
	}
	
	.long {
		height: 700px;
	}
}

@media screen and (min-width: 2560px) {
	h1 {
		font-size: 350%;
	}

	#descGame2.between-text-block {
		height: 135px;
	}
	
    .between-text-block {
		font-size: 200%;
		margin-bottom: 35px;
	}
	
	.profile-text-block {
		font-size: 200%;
	}
	
	#ppIntroTblRow1CellLeft.divTableCell {
		width: 500px;
	}
	
	#ppIntroImg {
		margin-left: 700px;
	}
	
	#ppIntroDesc {
		margin-left: 400px;
	}
	
	.game-icons {
		height: 350px;
		margin-left: 10%;
	}
	
	#game3Icon {
		margin-left: 50px;
	}
	
	div#aboutBlock p {
		font-size: 200%;
	}
	
	.short {
		height: 800px;
	}
	
	.long {
		height: 800px;
	}
}

/***********************************************************************************************/

.ppb-1 {
	background-image: url('/images/ppb-1.jpg');
	background-size: 100%;
}

/* game-img1, 2, 3 should be used in priority of viewership per community */

.game-img1 {
	background-image: url('/images/d2-press-1.jpg');
	background-size: 100%;
}

.game-img2 {
	background-image: url('/images/PUBG1.jpg');
	background-size: 100%;
}

.game-img3 {
	background-image: url('/images/PocketCasts_Banner.png');
	background-size: 100%;
}

.twitch {
	background-image: url('/images/twitch-banner-1.png');
	background-size: 100%;
}

.discord {
	background-image: url('/images/discord-banner-press-1.png');
	background-size: 100%;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}
