#header {
	margin-top: 30px;
}

img {
    max-width: 100%; 
	display: inline-table;
	height: auto;
}

/**********************************************************************/

#mediaCell {
	text-align: center;
	vertical-align: middle;
}

.player img{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-50px;
	margin-left:-50px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f00;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/**********************************************************************/

.divTable {
	display: table;
	width: 100%;
}

.divTableRow {
	display: table-row;
}

.divTableCell {
	display: table-cell;
	vertical-align: middle;
}

.display-none {
	display: none;
}

#twitchIcon {
	width: 55%;
	margin-left: 22%;
}

.navbar-icon {
	height: 50px;
	margin-right: 15px;
}

.long {
	height: 700px;
}

.short {
	height: 600px;
}

.left {
	text-align: left;
	padding-left: 35px;
}

.center td {
	padding: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.parallax {
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.game-icons {
	height: 350px;
	margin-left: 2%;
}

h1 {
	font-size: 3em;
	font-family: Impact, Charcoal, sans-serif;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 1px rgba(0,0,0,0.8);
	opacity: 0.9;
	text-align: center;
	padding-top: 35px;
    padding-bottom: 20px;
}

div#aboutBlock p {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 150%;
	color: #777;
	background-color: white;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	opacity: 0.7;
}

.between-text-block {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 150%;
	color: #777;
	background-color: white;
	text-align: center;
	height: 110px;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	opacity: 0.7;
}

.profile-text-block {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 150%;
	color: #777;
	background-color: white;
	text-align: center;
	height: 110px;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	opacity: 0.7;
	display: inline-table;
	vertical-align: middle;
}

/***********************************************************************************************/

@media screen and (min-width: 320px) {
	h1 {
		font-size: 190%;
	}
	
    .between-text-block {
		font-size: 100%;
		height: 110px;
		margin-bottom: 35px;
	}
	
	.profile-text-block {
		font-size: 100%;
		height: 180px;
	}
		
	div#aboutBlock p {
		font-size: 100%;
	}
	
	div#ppProfileTbl .divTableCell {
		display: block;
	}
	
	.game-icons {
		height: 100px;
	}
	
	.short {
		height: 350px;
	}
	
	.long {
		height: 350px;
	}
	
	.left {
		text-align: center;
		padding-left: 0px;
	}
}

@media screen and (min-width: 375px) {
	h1 {
		font-size: 190%;
	}
	
    .between-text-block {
		font-size: 100%;
		height: 90px;
		margin-bottom: 50px;
	}
	
	.profile-text-block {
		font-size: 100%;
		height: 180px;
	}
	
	div#aboutBlock p {
		font-size: 100%;
	}
	
	div#ppProfileTbl .divTableCell {
		display: block;
	}
		
	.game-icons {
		height: 100px;
	}
	
	.short {
		height: 350px;
	}
	
	.long {
		height: 350px;
	}
	
	.left {
		text-align: center;
		padding-left: 0px;
	}
}

@media screen and (min-width: 425px) {
	h1 {
		font-size: 190%;
	}
	
    .between-text-block {
		font-size: 100%;
		height: 90px;
		margin-bottom: 20px;
	}
	
	.profile-text-block {
		font-size: 100%;
		margin-top: 10px;
	}
	
	div#aboutBlock p {
		font-size: 90%;
	}
	
	div#ppProfileTbl .divTableCell {
		display: block;
	}

	.game-icons {
		height: 100px;
	}
	
	.short {
		height: 350px;
	}
	
	.long {
		height: 350px;
	}
	
	.left {
		text-align: center;
		padding-left: 0px;
	}
}

@media screen and (min-width: 768px) {
	h1 {
		font-size: 190%;
	}
	
	div#ppProfileTblRow4CellLeft img.ppProfileImg {
		margin-bottom: 50px;
	}

    .between-text-block {
		font-size: 120%;
	}
	
	.profile-text-block {
		font-size: 120%;
		margin-top: 10px;
	}
	
	div#ppProfileTbl .divTableCell {
		display: table-cell;
	}
	
	div#aboutBlock p {
		font-size: 120%;
	}
	
	img.navbar-icon {
		max-height: 45px;
	}
	
	.game-icons {
		height: 200px;
	}
	
	.short {
		height: 400px;
	}
	
	.long {
		height: 400px;
	}
	
	.left {
		text-align: center;
		padding-left: 0px;
	}
}

@media screen and (min-width: 1024px) {
	h1 {
		font-size: 250%;
	}
	
	div#ppProfileTblRow4CellLeft img.ppProfileImg {
		margin-bottom: 50px;
	}

    .between-text-block {
		font-size: 120%;
	}
	
	.profile-text-block {
		font-size: 120%;
		margin-top: 10px;
	}
	
	div#aboutBlock p {
		font-size: 120%;
	}
	
	.short {
		height: 400px;
	}
	
	.long {
		height: 400px;
	}
	
	.left {
		text-align: left;
		padding-left: 20px;
	}
}

@media screen and (min-width: 1440px) {
	h1 {
		font-size: 250%;
	}
	
	div#ppProfileTblRow4CellLeft img.ppProfileImg {
		margin-bottom: 50px;
	}

    .between-text-block {
		font-size: 150%;
	}
	
	.profile-text-block {
		font-size: 150%;
	}
	
	#ppIntroTblRow1CellLeft.divTableCell {
		width: 500px;
	}
	
	#ppIntroImg {
		margin-left: 200px;
	}
	
	#ppIntroDesc {
		margin-left: 100px;
	}

	div#aboutBlock p {
		font-size: 150%;
	}
	
	.short {
		height: 500px;
	}
	
	.long {
		height: 600px;
	}
}

@media screen and (min-width: 1920px) {
	h1 {
		font-size: 300%;
	}
	
	div#ppProfileTblRow4CellLeft img.ppProfileImg {
		margin-bottom: 50px;
	}

    .between-text-block {
		font-size: 150%;
	}
	
	.profile-text-block {
		font-size: 150%;
	}
	
	#ppIntroTblRow1CellLeft.divTableCell {
		width: 500px;
	}
	
	#ppIntroImg {
		margin-left: 400px;
	}
	
	#ppIntroDesc {
		margin-left: 300px;
	}
		
	div#aboutBlock p {
		font-size: 150%;
	}
	
	.short {
		height: 700px;
	}
	
	.long {
		height: 700px;
	}
}

@media screen and (min-width: 2560px) {
	h1 {
		font-size: 350%;
	}

	#descGame2.between-text-block {
		height: 135px;
	}
	
    .between-text-block {
		font-size: 200%;
		margin-bottom: 35px;
	}
	
	.profile-text-block {
		font-size: 200%;
	}
	
	#ppIntroTblRow1CellLeft.divTableCell {
		width: 500px;
	}
	
	#ppIntroImg {
		margin-left: 700px;
	}
	
	#ppIntroDesc {
		margin-left: 400px;
	}
	
	.game-icons {
		height: 350px;
		margin-left: 10%;
	}
	
	div#aboutBlock p {
		font-size: 200%;
	}
	
	.short {
		height: 800px;
	}
	
	.long {
		height: 800px;
	}
}

/***********************************************************************************************/

.ppb-1 {
	background-image: url('/images/ppb-1.jpg');
	background-size: 100%;
}

/* game-img1, 2, 3 should be used in priority of viewership per community */

.game-img1 {
	background-image: url('/images/d2-press-1.jpg');
	background-size: 100%;
}

.game-img2 {
	background-image: url('/images/wow-battle-for-azeroth-banner-press-kit-1.jpg');
	background-size: 100%;
}

.game-img3 {
	background-image: url('/images/SeaOfThieves.jpg');
	background-size: 100%;
}

.game-img4 {
	background-image: url('/images/MHW.jpg');
	background-size: 100%;
}

.wtn {
	background-image: url('/images/PocketCasts_Banner.png');
	background-size: 100%;
}

.twitch {
	background-image: url('/images/twitch-banner-1.png');
	background-size: 100%;
}

.discord {
	background-image: url('/images/discord-banner-press-1.png');
	background-size: 100%;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}
