#header {
	margin-top: 30px;
}

img {
    max-width: 100%; 
	display:block; 
	height: auto;
}

.navbar-icon {
	height: 50px;
	margin-right: 15px;
}

.long {
	height: 700px;
}

.short {
	height: 600px;
}

.center td {
	padding: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.parallax {
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.game-icons {
	height: 350px;
	margin-left: 2%;
}

h1 {
	font-size: 3em;
	font-family: Impact, Charcoal, sans-serif;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 1px rgba(0,0,0,0.8);
	opacity: 0.9;
	text-align: center;
	padding-top: 35px;
    padding-bottom: 20px;
}

.between-text-block {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 150%;
	color: #777;
	background-color: white;
	text-align: center;
	height: 90px;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	opacity: 0.7;
}

/* 4k Screens */
@media only screen and (width: 2560px), screen and (height: 1100px) {
    .between-text-block {
		font-size: 200%;
	}
	
	.game-icons {
		height: 350px;
		margin-left: 20%;
	}
}

/* Mobile */
@media screen and (max-width: 376px) {
    .between-text-block {
		font-size: 125%;
	}
}

.ppb-1 {
	background-image: url('/images/ppb-1.jpg');
	background-size: 100%;
}

/* game-img1, 2, 3 should be used in priority of viewership per community */

.game-img1 {
	background-image: url('/images/d2-press-1.jpg');
	background-size: 100%;
}

.game-img2 {
	background-image: url('/images/wow-legion-press-1.jpg');
	background-size: 100%;
}

.game-img3 {
	background-image: url('/images/mtg-press-1.jpg');
	background-size: 100%;
}

.discord {
	background-image: url('/images/discord-banner-press-1.png');
	background-size: 100%;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}
